<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
 <link rel="stylesheet" href="{% static "css/styles.css" %}">
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
crossorigin=""></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title">
          What will the weather be like in {{ weather_forecast.0.city }}
        </h1>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          {% for day in weather_forecast %}
            {% if forloop.counter0 != 0 %}
              <div class="column is-4">
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/{{ day.icon }}.png" alt="Image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <span class="title">{{ day.dt }}</span>
                          <br>
                          <span class="subtitle"><b>Temperature</b></span>
                          <br>
                          Max: {{ day.temperature.max }}° C
                          <br>
                          Min: {{ day.temperature.min }}° C
                          <br> {{ day.description }}
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </section>
    <footer class="footer">
      <a href="mailto:damian050697@gmail.com"><i class="fab fa-github"></i></a>
      <a href="https://github.com/damianed/django_weatherapp"><i class="fas fa-envelope"></i></a>
    </footer>
  </body>
</html>
