<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's the weather like</title>
      {% load static %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
   <link rel="stylesheet" href="{% static "css/styles.css" %}">
   <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
  <style media="screen">
    #mapid{
      height: 500px;
    }
  </style>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title">
          What's the weather like?
        </h1>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="column column is-offset-0 is-12">
          <div id="mapid" ></div>
          <div class="control is-expanded">
            <div class="control">
              <button id="addcity" class="button is-info is-pulled-right">
                See weather
              </button>
            </div>
          </div>
        </div>
          <!-- <form method="post">
            <div class="field has-addons">

          </form> -->
        <!-- </div> -->
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-3 is-6">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city }}</span>
                      <br>
                      <span class="subtitle">{{ temperature}}° C</span>
                      <br> {{ description}}
                    </p>
                  </div>
                </div>
                <br><a href="{% url 'forecast' %}?lat={{ lat }}&lon={{ lon }}">Forecast</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <a href="mailto:damian050697@gmail.com"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/damianed/django_weatherapp"><i class="fab fa-github"></i></a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        console.log({{ lat }})
console.log({{ lon }})
    var mymap = L.map('mapid').setView([{{ lat }}, {{ lon }}], 13);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={access_token}', {
  		maxZoom: 18,
    	id: 'mapbox/streets-v11',
        access_token: 'pk.eyJ1IjoiZGFtaWFuZWQiLCJhIjoiY2pxc2d5MHNyMHY4bDQ4cW85MTVxOG1iZSJ9.kkPD26sCM_E0OUMTm1BxmA'
	  }).addTo(mymap);

    let marker = L.marker([{{ lat }}, {{ lon }}]).addTo(mymap);

    function onMapClick(e) {
        // popup
            // .setLatLng(e.latlng)
        //     .setContent("You clicked the map at " + e.latlng.toString());
        //     .openOn(mymap);
        marker.setLatLng(e.latlng);
        console.log(marker.getLatLng());
        // marker = L.marker(e.latlng).addTo(mymap);
    }

    mymap.on('click', onMapClick);
    $( document ).ready(function(){
      $("#addcity").click(function(){
        let lat = marker.getLatLng().lat;
        let lon = marker.getLatLng().lng;

        let form = $('<form method="post">' +
            '<input type="text" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />' +
            '<input type="text" name="lat" value="' + lat + '" />' +
            '<input type="text" name="lon" value="' + lon + '" />' +
          '</form>');
          $('body').append(form);
          form.submit();
      });
    });
    </script>
  </body>
</html>
