<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What's the weather like</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
  <style media="screen">
    #mapid{
      height: 300px;
    }
  </style>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title">
          What's the weather like?
        </h1>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="column is-offset-4 is-4">
          <button id="addcity" class="button is-info">
            Add City
          </button>
        </div>
          <!-- <form method="post">
            <div class="field has-addons">
              <div class="control is-expanded">
              </div>
              <div class="control">

            </div>
          </form> -->
           <div id="mapid"></div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <span class="title">{{ city }}</span>
                      <br>
                      <span class="subtitle">{{ temperature}}° C</span>
                      <br> {{ description}}
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type="text/javascript">
    var mymap = L.map('mapid').setView([29.8, -102.4], 13);

	  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZGFtaWFuZWQiLCJhIjoiY2pxc2d5MHNyMHY4bDQ4cW85MTVxOG1iZSJ9.kkPD26sCM_E0OUMTm1BxmA', {
  		maxZoom: 18,
  		id: 'mapbox.streets'
	  }).addTo(mymap);

    let marker = L.marker([51.5, -0.09]).addTo(mymap);

    function onMapClick(e) {
        // popup
            // .setLatLng(e.latlng)
        //     .setContent("You clicked the map at " + e.latlng.toString());
        //     .openOn(mymap);
        marker.setLatLng(e.latlng);
        console.log(marker.getLatLng());
        // marker = L.marker(e.latlng).addTo(mymap);
    }

    mymap.on('click', onMapClick);
    $( document ).ready(function(){
      $("#addcity").click(function(){
        let lat = marker.getLatLng().lat;
        let lon = marker.getLatLng().lng;
        console.log(lat);
          // $.ajax({
          //     type: "POST",
          //     dataType: "json",
          //     data: {
          //         csrfmiddlewaretoken: '{{ csrf_token }}',
          //         latlng: latlng,
          //         },
          //     success : function(json) {
          //         console.log("Successfully sent the URL to Django");
          //     },
          //     error : function(xhr,errmsg,err) {
          //         alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
          //     }
          // });
          let xhttp = new XMLHttpRequest()
          xhttp.open("POST", "", true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send("csrfmiddlewaretoken={{ csrf_token }}&lat="+lat);
          let form = $('<form method="post">' +
              '<input type="text" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />' +
              '<input type="text" name="lat" value="' + lat + '" />' +
              '<input type="text" name="lon" value="' + lon + '" />' +
            '</form>');
            $('body').append(form);
            form.submit();
      });
    });
    </script>
  </body>
</html>
